body {
    background-color: #111111;
    margin: 0;
    padding: 0;
  }
  
.projects {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
  
  .projects-title {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: monospace;
    color: #c27b87;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  
  .project {
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }

  .project:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  
  @media screen and (max-width: 768px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  