.skills-container {
    background-color: #111111;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
  }
  
  .skills-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 6rem;
    margin-top: 8rem;
  }
  
  .skills-subtitle {
    font-size: 3rem;
    color: white;
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
  
  .icons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    font-size: 7rem;
    margin: 1rem;
    color: white;
  }

  .skills-blurb {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  
  .devicon-mongodb-plain-wordmark:hover {
    color: #589636 !important;
  }
  
  .devicon-express-original:hover {
    color: #000 !important;
  }
  
  .devicon-react-original:hover {
    color: #61dafb !important;
  }
  
  .devicon-nodejs-plain:hover {
    color: #3c873a !important;
  }
  
  .devicon-javascript-plain:hover {
    color: #f7df1e !important;
  }
  
  .devicon-html5-plain:hover {
    color: #e34f26 !important;
  }
  
  .devicon-css3-plain:hover {
    color: #2965f1 !important;
  }
  
